# Sử dụng Pandas để khám phá dữ liệu
Bước đầu tiên trong bất kỳ dự án Machine Learning nào là làm quen với dữ liệu. Để là điều đó, bạn sẽ sử dụng thư viện **Pandas**. Pandas là công cụ chính mà các nhà khoa học dữ liệu dùng để khám phá và xử lý dữ liệu. Hầu hết mọi người đều viết tắt Pandas là **pd**.

In [2]:
import pandas as pd

## DataFrame – Cấu trúc dữ liệu quan trọng nhất trong Pandas

Phần quan trọng nhất của thư viện **Pandas** là **DataFrame**.
Một **DataFrame** lưu trữ dữ liệu theo dạng bảng, giống như **sheet trong Excel** hoặc **table trong SQL database**.

Pandas cung cấp nhiều phương thức mạnh mẽ để thao tác với loại dữ liệu này.

### Ví dụ minh họa

Chúng ta sẽ xem xét dữ liệu về **giá nhà ở Melbourne, Australia**.
Trong các bài tập thực hành, bạn sẽ áp dụng các bước tương tự với một dataset mới về **giá nhà ở Iowa**.

Dữ liệu ví dụ (Melbourne) nằm tại đường dẫn:


Chúng ta có thể load và khám phá dữ liệu bằng các lệnh sau:

```python
import pandas as pd

# Load dữ liệu
melbourne_data = pd.read_csv('../input/melbourne-housing-snapshot/melb_data.csv')

# Xem 5 dòng đầu tiên
melbourne_data.head()

In [4]:
# Lưu đường dẫn dữ liệu vào biến melbourne_file_path
melbourne_file_path = '../input/melb_data.csv'

# Đọc dữ liệu và lưu dữ liệu vào DataFrame có tên melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path)

# Hiển thị tóm tắt thông tin về DataFrame melbourne_data
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

## Interpreting Data Description – Hiểu kết quả mô tả dữ liệu

Khi dùng Pandas, phương thức `describe()` trả về **8 số liệu** cho mỗi cột trong dataset gốc của bạn:

1. **count** – số lượng giá trị không bị thiếu (non-missing).
   - Missing values có thể xuất hiện vì nhiều lý do. Ví dụ: kích thước phòng ngủ thứ 2 sẽ không được ghi khi khảo sát nhà chỉ có 1 phòng ngủ.

2. **mean** – giá trị trung bình (average).

3. **std** – độ lệch chuẩn (standard deviation), đo mức độ phân tán của các giá trị.

4. **min, 25%, 50%, 75%, max** – các giá trị theo thứ tự từ thấp đến cao:
   - **min** – giá trị nhỏ nhất.
   - **25%** – giá trị tại 25th percentile, lớn hơn 25% các giá trị và nhỏ hơn 75% còn lại.
   - **50%** – giá trị trung vị (median), lớn hơn 50% các giá trị còn lại.
   - **75%** – giá trị tại 75th percentile, lớn hơn 75% các giá trị còn lại.
   - **max** – giá trị lớn nhất.

Bạn có thể hình dung việc sắp xếp cột từ nhỏ đến lớn để hiểu các giá trị này.