## Mục tiêu:
Input:
 - 'country', 'location_name', 'last_updated'
Output:
 - 'air_quality_PM2.5', 'air_quality_PM10', 'air_quality_Nitrogen_dioxide', 'air_quality_Ozone'

Loại bài toán: Hồi quy đa biến (Multi-output Regression)
Dữ liệu: GlobalWeatherRepository.csv
Link dữ liệu live update: https://www.kaggle.com/datasets/nelgiriyewithana/global-weather-repository/data

### Step 1: Đọc dữ liệu

In [7]:
import pandas as pd

df = pd.read_csv('GlobalWeatherRepository.csv')
df.head()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,5/16/2024 13:15,26.6,79.8,Partly Cloudy,...,8.4,26.6,1,1,4:50 AM,6:50 PM,12:12 PM,1:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,5/16/2024 10:45,19.0,66.2,Partly cloudy,...,1.1,2.0,1,1,5:21 AM,7:54 PM,12:58 PM,2:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,5/16/2024 9:45,23.0,73.4,Sunny,...,10.4,18.4,1,1,5:40 AM,7:50 PM,1:15 PM,2:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,5/16/2024 10:45,6.3,43.3,Light drizzle,...,0.7,0.9,1,1,6:31 AM,9:11 PM,2:12 PM,3:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,5/16/2024 9:45,26.0,78.8,Partly cloudy,...,183.4,262.3,5,10,6:12 AM,5:55 PM,1:17 PM,12:38 AM,Waxing Gibbous,55

In [8]:
df.describe()

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
count,101334.000000,101334.000000,1.013340e+05,101334.000000,101334.000000,101334.000000,101334.000000,101334.000000,101334.000000,101334.000000,...,101334.000000,101334.000000,101334.000000,101334.000000,101334.000000,101334.000000,101334.000000,101334.000000,101334.000000,101334.000000
mean,19.155224,22.085921,1.738407e+09,22.720556,72.898746,8.200674,13.201111,170.783498,1014.026309,29.943536,...,18.451695,509.579213,62.192365,15.724127,11.126171,25.792763,52.795425,1.748130,2.730219,50.243403
std,24.451675,65.813015,1.301954e+07,8.860898,15.949427,7.785981,12.527817,102.768800,11.234957,0.331722,...,14.537516,833.376821,32.050807,25.794196,40.108342,40.276838,161.923022,0.975419,2.547446,35.006760
min,-41.300000,-175.200000,1.715849e+09,-24.900000,-12.800000,2.200000,3.600000,1.000000,947.000000,27.960000,...,3.600000,-9999.000000,0.000000,0.000000,-9999.000000,0.168000,-1848.150000,1.000000,1.000000,0.000000
25%,3.750000,-6.836100,1.727171e+09,18.000000,64.500000,4.000000,6.500000,83.000000,1010.000000,29.830000,...,10.400000,233.100000,42.000000,1.400000,0.900000,7.400000,10.700000,1.000000,1.000000,15.000000
50%,17.250000,23.316700,1.738407e+09,24.800000,76.600000,6.900000,11.200000,164.000000,1013.000000,29.930000,...,15.700000,323.750000,59.000000,4.995000,2.405000,14.985000,21.645000,1.000000,2.000000,51.000000
75%,40.400000,50.580000,1.749718e+09,28.300000,82.900000,11.200000,18.000000,256.000000,1018.000000,30.050000,...,24.400000,501.350000,79.000000,17.945000,8.900000,29.415000,44.955000,2.000000,3.000000,85.000000
max,64.150000,179.220000,1.760860e+09,49.200000,120.600000,1841.200000,2963.200000,360.000000,3006.000000,88.770000,...,2970.400000,38879.398000,480.700000,427.700000,521.330000,1614.100000,6037.290000,6.000000,10.000000,100.000000

### Step 2: Chuyển đổi, lọc dữ liệu

In [9]:
df['last_updated'] = pd.to_datetime(df['last_updated'])

# Lấy dữ liệu cần thiết
features = [
    'country', 'location_name', 'last_updated', 'temperature_celsius', 'humidity',
    'wind_kph', 'pressure_mb', 'uv_index', 'cloud', 'precip_mm'
]

# Target
targets = [
    'air_quality_PM2.5', 'air_quality_PM10', 'air_quality_Nitrogen_dioxide', 'air_quality_Ozone'
]

data = df[features + targets].dropna()
data.head()

,country,location_name,last_updated,temperature_celsius,humidity,wind_kph,pressure_mb,uv_index,cloud,precip_mm,air_quality_PM2.5,air_quality_PM10,air_quality_Nitrogen_dioxide,air_quality_Ozone
0,Afghanistan,Kabul,2024-05-16 13:15:00,26.6,24,13.3,1012,7.0,30,0.0,8.4,26.6,1.1,103.0
1,Albania,Tirana,2024-05-16 10:45:00,19.0,94,11.2,1012,5.0,75,0.1,1.1,2.0,0.9,97.3
2,Algeria,Algiers,2024-05-16 09:45:00,23.0,29,15.1,1011,5.0,0,0.0,10.4,18.4,65.1,12.2
3,Andorra,Andorra La Vella,2024-05-16 10:45:00,6.3,61,11.9,1007,2.0,100,0.3,0.7,0.9,1.6,64.4
4,Angola,Luanda,2024-05-16 09:45:00,26.0,89,13.0,1011,8.0,50,0.0,183.4,262.3,72.7,19.0

### Step 3: Xử lý dữ liệu